#gameScreen {
    display: none;
}
#waitingScreen{
    display: none;
}
    body{
      width: 1000px;
      height: 900px;
      /* background-image: url(./img/fullmap.png); */
  }
  .player-name{
      background-color: aqua;
  }
  .player-score{
      background: red;
  }
  .name-score-container{
      width: 500px;
      height: 100px;
      border: 2px solid black;
  }
  .name-score-container div{
      border: 2px solid black;
      height: 100%;
      width: 25%;
      float: left;   
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      font-size: large;
      font-weight: 300;
  }
  .dice{
    width: 70px;
    height: 70px;
    background-color: aqua;
    border:5px solid black;
    margin-top: 10px;
  }
  .active-player{
    opacity: 0.75;
    background: aqua;
  }
  .your-turn{
      background-color: orange;
  }
  #winner{
      float: left;
  }
  .dice:hover{
      opacity: 0.7;
  }
